html {
	width: 100%;
	min-height: vars(vh, fullscreen);
	visibility: visible;
	overflow-x: hidden;
	overflow-y: scroll;
	font-size: 100%;
	line-height: 1.5;

	@extend %f-body;
	@extend %f-regular;
	@include font-smoothing;

	&.no-scroll {
		position: relative;
		overflow: hidden;

		body {
			overflow: hidden;
		}
	}
}
