.u-content a:not(.u-btn),
.u-link:not(.u-btn) {
	display: inline-block;
	position: relative;
	color: colors(default, dark);
	text-decoration: none;
	text-decoration-skip-ink: auto;

	&::before {
		content: '';
		position: absolute;
		right: 0;
		bottom: 0;
		left: 0;
		height: 2px;
		border-width: 0 0 2px;
		border-style: dashed;
		border-color: colors(default, dark);
	}

	&::after {
		content: '';
		position: absolute;
		z-index: -1;
		opacity: 0;
		background-color: colors(default, dark);
		inset: 0 (-(rem(4px))) 0 (-(rem(4px)));

		@include transition('all');
		@include hardware(true);
	}

	@include mq-hover {
		cursor: pointer;

		@include transition;

		&::before {
			@include transition('border');
		}

		&:focus,
		&:hover {
			color: colors(default, light);

			&::before {
				border-color: colors(default, light);
			}

			&::after {
				opacity: 1;
			}
		}
	}
}
