{{#if row-utilities}}
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h1>{{row-utilities}}</h1>
        </div>
    </div>
</div>
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-b">
            <h2>Align Row</h2>
            <p>Align row top middle and bottom on any breakpoint.</p>
        </div>
    </div>
</div>
<div class="l-row is-align-top u-vh-half Fractal-border-primary">
    <div class="l-row__col">
        is-align-top <br>
        is-sml-align-top <br>
        is-med-align-top <br>
        is-lrg-align-top <br>
        is-xlrg-align-top <br>
        is-xxlrg-align-top
    </div>
</div>
<div class="l-row is-align-middle u-vh-half Fractal-border-primary">
    <div class="l-row__col">
        is-align-middle <br>
        is-sml-align-middle <br>
        is-med-align-middle <br>
        is-lrg-align-middle <br>
        is-xlrg-align-middle <br>
        is-xxlrg-align-middle
    </div>
</div>
<div class="l-row is-align-bottom u-vh-half Fractal-border-primary">
    <div class="l-row__col">
        is-align-bottom <br>
        is-sml-align-bottom <br>
        is-med-align-bottom <br>
        is-lrg-align-bottom <br>
        is-xlrg-align-bottom <br>
        is-xxlrg-align-bottom
    </div>
</div>
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>Justify Row</h3>
            <p>Justify row left center right on any breakpoint.</p>
        </div>
    </div>
</div>
<div class="l-row is-justify-left Fractal-border-primary">
    <div class="l-row__col is-6">
        is-justify-left <br>
        is-sml-justify-left <br>
        is-med-justify-left <br>
        is-lrg-justify-left <br>
        is-xlrg-justify-left <br>
        is-xxlrg-justify-left
    </div>
</div>
<div class="l-row is-justify-center Fractal-border-primary">
    <div class="l-row__col is-6">
        is-justify-center <br>
        is-sml-justify-center <br>
        is-med-justify-center <br>
        is-lrg-justify-center <br>
        is-xlrg-justify-center <br>
        is-xxlrg-justify-center
    </div>
</div>
<div class="l-row is-justify-right Fractal-border-primary">
    <div class="l-row__col is-6">
        is-justify-right <br>
        is-sml-justify-right <br>
        is-med-justify-right <br>
        is-lrg-justify-right <br>
        is-xlrg-justify-right <br>
        is-xxlrg-justify-right
    </div>
</div>
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>Reverse Row</h3>
            <p>Reverse row on any breakpoint.</p>
        </div>
    </div>
</div>
<div class="l-row is-reverse u-vh-half Fractal-border-primary">
    <div class="l-row__col is-med-6">
        Column 1 <br>
        is-reverse <br>
        is-sml-reverse <br>
        is-med-reverse <br>
        is-lrg-reverse <br>
        is-xlrg-reverse <br>
        is-xxlrg-reverse
    </div>
    <div class="l-row__col is-med-6">
        Column 2
    </div>
</div>
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>Relative / overflow / gutter</h3>
            <p>Make row position relative, overflow hidden or no gutter on any breakpoint</p>
        </div>
    </div>
</div>
<div class="l-row is-relative">
    <div class="l-row__col Fractal-border-primary">
        is-relative <br>
        is-sml-relative <br>
        is-med-relative <br>
        is-lrg-relative <br>
        is-xlrg-relative <br>
        is-xxlrg-relative
    </div>
</div>
<div class="l-row no-overflow">
    <div class="l-row__col Fractal-border-primary">
        no-overflow <br>
        no-sml-overflow <br>
        no-med-overflow <br>
        no-lrg-overflow <br>
        no-xlrg-overflow <br>
        no-xxlrg-overflow
    </div>
</div>
<div class="l-row no-gutter">
    <div class="l-row__col Fractal-border-primary">
        no-gutter <br>
        no-sml-gutter <br>
        no-med-gutter <br>
        no-lrg-gutter <br>
        no-xlrg-gutter <br>
        no-xxlrg-gutter
    </div>
</div>
{{else if column-utilities}}
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>{{column-utilities}}</h3>
        </div>
    </div>
</div>
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-b">
            <h3>Align columns</h3>
            <p>Align columns top middle and bottom on any breakpoint.</p>
        </div>
    </div>
</div>
<div class="l-row">
    <div class="l-row__col is-6 Fractal-border-primary">
        is-align-top <br>
        is-sml-align-top <br>
        is-med-align-top <br>
        is-lrg-align-top <br>
        is-xlrg-align-top <br>
        is-xxlrg-align-top
    </div>
    <div class="l-row__col is-6 is-align-top Fractal-border-primary">
        Aligned Top
    </div>
</div>
<div class="l-row">
    <div class="l-row__col is-6 Fractal-border-primary">
        is-align-middle <br>
        is-sml-align-middle <br>
        is-med-align-middle <br>
        is-lrg-align-middle <br>
        is-xlrg-align-middle <br>
        is-xxlrg-align-middle
    </div>
    <div class="l-row__col is-6 is-align-middle Fractal-border-primary">
        Aligned Middle
    </div>
</div>
<div class="l-row">
    <div class="l-row__col is-6 Fractal-border-primary">
        is-align-bottom <br>
        is-sml-align-bottom <br>
        is-med-align-bottom <br>
        is-lrg-align-bottom <br>
        is-xlrg-align-bottom <br>
        is-xxlrg-align-bottom
    </div>
    <div class="l-row__col is-6 is-align-bottom Fractal-border-primary">
        Aligned Bottom
    </div>
</div>
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>Justify Columns</h3>
            <p>Justify Columns left center right on any breakpoint.</p>
        </div>
    </div>
</div>
<div class="l-row">
    <div class="l-row__col is-4 is-justify-left Fractal-border-primary">
        is-justify-left <br>
        is-sml-justify-left <br>
        is-med-justify-left <br>
        is-lrg-justify-left <br>
        is-xlrg-justify-left <br>
        is-xxlrg-justify-left
    </div>
    <div class="l-row__col is-4 is-justify-center Fractal-border-primary">
        is-justify-center <br>
        is-sml-justify-center <br>
        is-med-justify-center <br>
        is-lrg-justify-center <br>
        is-xlrg-justify-center <br>
        is-xxlrg-justify-center
    </div>
    <div class="l-row__col is-4 is-justify-right Fractal-border-primary">
        is-justify-right <br>
        is-sml-justify-right <br>
        is-med-justify-right <br>
        is-lrg-justify-right <br>
        is-xlrg-justify-right <br>
        is-xxlrg-justify-right
    </div>
</div>
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>Relative / overflow / no gutter</h3>
            <p>Make columns position relative, overflow hidden or no gutter on any breakpoint</p>
        </div>
    </div>
</div>
<div class="l-row">
    <div class="l-row__col is-4 is-relative Fractal-border-primary">
        is-relative <br>
        is-sml-relative <br>
        is-med-relative <br>
        is-lrg-relative <br>
        is-xlrg-relative <br>
        is-xxlrg-relative
    </div>
    <div class="l-row__col is-4 no-overflow Fractal-border-primary">
        no-overflow <br>
        no-sml-overflow <br>
        no-med-overflow <br>
        no-lrg-overflow <br>
        no-xlrg-overflow <br>
        no-xxlrg-overflow
    </div>
    <div class="l-row__col is-4 no-gutter Fractal-border-primary">
        no-gutter <br>
        no-sml-gutter <br>
        no-med-gutter <br>
        no-lrg-gutter <br>
        no-xlrg-gutter <br>
        no-xxlrg-gutter
    </div>
</div>

<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>Order</h3>
            <p>Reorder columns based on location, 1-12 on any breakpoint</p>
        </div>
    </div>
</div>
<div class="l-row">
    <div class="l-row__col med-order-4 is-3 Fractal-border-primary">
        col 1 <br>
        order-4 <br>
        sml-order-4 <br>
        med-order-4 <br>
        lrg-order-4 <br>
        xlrg-order-4 <br>
        xxlrg-order-4
    </div>
    <div class="l-row__col med-order-1 is-3 Fractal-border-primary">
        col 2 <br>
        order-1 <br>
        sml-order-1 <br>
        med-order-1 <br>
        lrg-order-1 <br>
        xlrg-order-1 <br>
        xxlrg-order-1
    </div>
    <div class="l-row__col med-order-2 is-3 Fractal-border-primary">
        col 3 <br>
        order-2 <br>
        sml-order-2 <br>
        med-order-2 <br>
        lrg-order-2 <br>
        xlrg-order-2 <br>
        xxlrg-order-2
    </div>
    <div class="l-row__col med-order-3 is-3 Fractal-border-primary">
        col 4 <br>
        order-3 <br>
        sml-order-3 <br>
        med-order-3 <br>
        lrg-order-3 <br>
        xlrg-order-3 <br>
        xxlrg-order-3
    </div>
</div>

{{else if sml}}
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>{{sml}}</h3>
        </div>
    </div>
    <div class="l-row__col is-sml-1 Fractal-border-primary">1</div>
    <div class="l-row__col is-sml-2 Fractal-border-primary">2</div>
    <div class="l-row__col is-sml-3 Fractal-border-primary">3</div>
    <div class="l-row__col is-sml-4 Fractal-border-primary">4</div>
    <div class="l-row__col is-sml-5 Fractal-border-primary">5</div>
    <div class="l-row__col is-sml-6 Fractal-border-primary">6</div>
    <div class="l-row__col is-sml-7 Fractal-border-primary">7</div>
    <div class="l-row__col is-sml-8 Fractal-border-primary">8</div>
    <div class="l-row__col is-sml-9 Fractal-border-primary">9</div>
    <div class="l-row__col is-sml-10 Fractal-border-primary">10</div>
    <div class="l-row__col is-sml-11 Fractal-border-primary">11</div>
    <div class="l-row__col is-sml-12 Fractal-border-primary">12</div>
</div>
{{else if med}}
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>{{med}}</h3>
        </div>
    </div>
    <div class="l-row__col is-med-1 Fractal-border-primary">1</div>
    <div class="l-row__col is-med-2 Fractal-border-primary">2</div>
    <div class="l-row__col is-med-3 Fractal-border-primary">3</div>
    <div class="l-row__col is-med-4 Fractal-border-primary">4</div>
    <div class="l-row__col is-med-5 Fractal-border-primary">5</div>
    <div class="l-row__col is-med-6 Fractal-border-primary">6</div>
    <div class="l-row__col is-med-7 Fractal-border-primary">7</div>
    <div class="l-row__col is-med-8 Fractal-border-primary">8</div>
    <div class="l-row__col is-med-9 Fractal-border-primary">9</div>
    <div class="l-row__col is-med-10 Fractal-border-primary">10</div>
    <div class="l-row__col is-med-11 Fractal-border-primary">11</div>
    <div class="l-row__col is-med-12 Fractal-border-primary">12</div>
</div>
{{else if lrg}}
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>{{lrg}}</h3>
        </div>
    </div>
    <div class="l-row__col is-lrg-1 Fractal-border-primary">1</div>
    <div class="l-row__col is-lrg-2 Fractal-border-primary">2</div>
    <div class="l-row__col is-lrg-3 Fractal-border-primary">3</div>
    <div class="l-row__col is-lrg-4 Fractal-border-primary">4</div>
    <div class="l-row__col is-lrg-5 Fractal-border-primary">5</div>
    <div class="l-row__col is-lrg-6 Fractal-border-primary">6</div>
    <div class="l-row__col is-lrg-7 Fractal-border-primary">7</div>
    <div class="l-row__col is-lrg-8 Fractal-border-primary">8</div>
    <div class="l-row__col is-lrg-9 Fractal-border-primary">9</div>
    <div class="l-row__col is-lrg-10 Fractal-border-primary">10</div>
    <div class="l-row__col is-lrg-11 Fractal-border-primary">11</div>
    <div class="l-row__col is-lrg-12 Fractal-border-primary">12</div>
</div>
{{else if xlrg}}
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>{{xlrg}}</h3>
        </div>
    </div>
    <div class="l-row__col is-xlrg-1 Fractal-border-primary">1</div>
    <div class="l-row__col is-xlrg-2 Fractal-border-primary">2</div>
    <div class="l-row__col is-xlrg-3 Fractal-border-primary">3</div>
    <div class="l-row__col is-xlrg-4 Fractal-border-primary">4</div>
    <div class="l-row__col is-xlrg-5 Fractal-border-primary">5</div>
    <div class="l-row__col is-xlrg-6 Fractal-border-primary">6</div>
    <div class="l-row__col is-xlrg-7 Fractal-border-primary">7</div>
    <div class="l-row__col is-xlrg-8 Fractal-border-primary">8</div>
    <div class="l-row__col is-xlrg-9 Fractal-border-primary">9</div>
    <div class="l-row__col is-xlrg-10 Fractal-border-primary">10</div>
    <div class="l-row__col is-xlrg-11 Fractal-border-primary">11</div>
    <div class="l-row__col is-xlrg-12 Fractal-border-primary">12</div>
</div>
{{else if xxlrg}}
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>{{xxlrg}}</h3>
        </div>
    </div>
    <div class="l-row__col is-xxlrg-1 Fractal-border-primary">1</div>
    <div class="l-row__col is-xxlrg-2 Fractal-border-primary">2</div>
    <div class="l-row__col is-xxlrg-3 Fractal-border-primary">3</div>
    <div class="l-row__col is-xxlrg-4 Fractal-border-primary">4</div>
    <div class="l-row__col is-xxlrg-5 Fractal-border-primary">5</div>
    <div class="l-row__col is-xxlrg-6 Fractal-border-primary">6</div>
    <div class="l-row__col is-xxlrg-7 Fractal-border-primary">7</div>
    <div class="l-row__col is-xxlrg-8 Fractal-border-primary">8</div>
    <div class="l-row__col is-xxlrg-9 Fractal-border-primary">9</div>
    <div class="l-row__col is-xxlrg-10 Fractal-border-primary">10</div>
    <div class="l-row__col is-xxlrg-11 Fractal-border-primary">11</div>
    <div class="l-row__col is-xxlrg-12 Fractal-border-primary">12</div>
</div>
{{else if examples}}
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>{{examples}}</h3>
        </div>
    </div>
    <div class="l-row__col is-sml-6 is-lrg-8 is-xlrg-4 lrg-order-2 is-xxlrg-5 Fractal-border-primary">
        is-sml-6 <br>
        is-lrg-8 <br>
        lrg-order-2 <br>
        is-xlrg-4 <br>
        is-xxlrg-5
    </div>
    <div class="l-row__col is-6 is-sml-6 is-lrg-4 lrg-order-1 is-xlrg-8 is-xxlrg-7 is-xlrg-justify-right Fractal-border-primary">
        is-6 <br>
        is-sml-6 <br>
        lrg-order-1 <br>
        is-lrg-4 <br>
        is-xlrg-8 <br>
        is-xxlrg-7
    </div>
</div>
{{else}}
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>{{title}}</h3>
        </div>
    </div>
    <div class="l-row__col is-1 Fractal-border-primary">is-1</div>
    <div class="l-row__col is-2 Fractal-border-primary">is-2</div>
    <div class="l-row__col is-3 Fractal-border-primary">is-3</div>
    <div class="l-row__col is-4 Fractal-border-primary">is-4</div>
    <div class="l-row__col is-5 Fractal-border-primary">is-5</div>
    <div class="l-row__col is-6 Fractal-border-primary">is-6</div>
    <div class="l-row__col is-7 Fractal-border-primary">is-7</div>
    <div class="l-row__col is-8 Fractal-border-primary">is-8</div>
    <div class="l-row__col is-9 Fractal-border-primary">is-9</div>
    <div class="l-row__col is-10 Fractal-border-primary">is-10</div>
    <div class="l-row__col is-11 Fractal-border-primary">is-11</div>
    <div class="l-row__col is-12 Fractal-border-primary">is-12</div>
</div>
<div class="l-row">
    <div class="l-row__col">
        <div class="u-content text-align-center Fractal-spacing-t Fractal-spacing-b">
            <h3>Row inside a Row</h3>
        </div>
    </div>
    <div class="l-row__col is-med-6 Fractal-border-primary">
        is-med-6
        <div class="l-row">
            <div class="l-row__col is-med-6">
                is-med-6
            </div>
            <div class="l-row__col is-med-6">
                is-med-6
            </div>
        </div>
    </div>
    <div class="l-row__col is-med-6 Fractal-border-primary">
        is-med-6
        <div class="l-row">
            <div class="l-row__col is-med-8">
                is-med-8
            </div>
            <div class="l-row__col is-med-4">
                is-med-4
            </div>
        </div>
    </div>
</div>
{{/if}}
