@import 'settings';
@import 'fractal/default-theme';

.Header {
    background-color: $fractal-primary;
    box-shadow: none;
    overflow: hidden;

    .Header-title {
        text-indent: -1000vw;
        display: block;
        width: rem(170px);
        height: rem(40px);
        padding: 0;
        margin: 0 0 0 rem(17px);

        @include background-image(
            contain,
            left center,
            false,
            false,
            $fractal-logo
        );
    }
}

.Fractal-bg-primary {
    background-color: $fractal-primary;
}

.Fractal-bg-secondary {
    background-color: $fractal-secondary;
}

.Fractal-primary {
    color: $fractal-primary;
}

.Fractal-secondary {
    color: $fractal-secondary;
}

[class*=Fractal-border-] {
    border-width: 2px;
    border-style: solid;
}

.Fractal-border-primary {
    border-color: $fractal-primary;
}

.Fractal-border-secondary {
    border-color: $fractal-secondary;
}

.Fractal-spacing-t {
    padding-top: rem(spacing(1.5));
}

.Fractal-spacing-b {
    padding-bottom: rem(spacing(1.5));
}
