@import 'settings';

.Navigation-search::before {
	content: '';
	display: block;
	width: 100%;
	height: 0;
	margin-bottom: rem(spacing(1));
	padding-bottom: intrinsic(300, 80);

	@include background-image(
		contain,
		top left,
		false,
		false,
		'https://img.logoipsum.com/222.svg'
	);
}
