@import '@styles/settings';

%reset {
	display: block;
	width: 100%;
	padding: spacing(2);
	border-width: spacing(.5);
	border-style: solid;
	border-color: colors(default, dark);
	appearance: none;

	@extend %type-body;

	&::placeholder {
		opacity: .8;

		@include transition('all');
	}

	&[disabled] {
		opacity: .3;

		@include disable(true);
	}

	&.is-hidden {
		display: none;
	}

	@include mq-hover {
		@include transition('all');
	}
}

.form {
	width: 100%;
	margin-top: -#{spacing(4)};

	&__field {
		padding-top: spacing(4);
	}

	&__label {
		display: block;
		padding-bottom: spacing(2);

		@extend %type-label;
	}

	&__input {
		@extend %reset;
	}

	&__textarea {
		@extend %reset;

		min-height: spacing(57);
		overflow: auto;
		resize: vertical;
	}

	&__validation {
		display: block;
		padding-top: spacing(2);
		color: colors(default, primary);

		@extend %type-label;
	}
}
