@import '@styles/settings';

.action {
	display: flex;
	flex-wrap: nowrap;
	margin-top: -#{spacing(8)};
	align-items: center;
	gap: spacing(4);

	&.is-align-container :global([data-module=Button]) {
		width: 100%;
	}

	&.is-align-left {
		justify-content: flex-start;
	}

	&.is-align-right {
		justify-content: flex-end;
	}

	&.is-align-center {
		justify-content: center;
	}

	:global([data-module=Button]) {
		margin-top: spacing(4);
	}
}
