.u-animate-fade-in {
	animation-name: kf-fade-in;
	animation-duration: vars(transition-duration, med);
	animation-timing-function: vars(transition-timing, med);
	animation-iteration-count: 1;
	animation-fill-mode: forwards;
}

.u-animate-fade-out {
	animation-name: kf-fade-out;
	animation-duration: vars(transition-duration, med);
	animation-timing-function: vars(transition-timing, med);
	animation-iteration-count: 1;
	animation-direction: reverse;
	animation-fill-mode: forwards;
}
