.u-bg-light {
	background-color: colors(default, light);
}

.u-bg-dark {
	background-color: colors(default, dark);
}

.u-bg-primary {
	background-color: colors(default, primary);
}

.u-bg-secondary {
	background-color: colors(default, secondary);
}
