.u-border {
	border-width: rem(2px);
	border-style: solid;
}

.u-border-b {
	border-width: 0 0 rem(2px);
	border-style: solid;
}

.u-border-t {
	border-width: rem(2px) 0 0;
	border-style: solid;
}

.u-border-r {
	border-width: 0 rem(2px) 0;
	border-style: solid;
}

.u-border-l {
	border-width: 0 0 0 rem(2px);
	border-style: solid;
}

.u-border-l-r {
	border-width: 0 rem(2px);
	border-style: solid;
}

.u-border-t-l {
	border-width: rem(2px) 0 0 rem(2px);
	border-style: solid;
}

.u-border-light {
	border-color: colors(default, light);
}

.u-border-dark {
	border-color: colors(default, dark);
}

.u-border-primary {
	border-color: colors(default, primary);
}

.u-border-secondary {
	border-color: colors(default, secondary);
}

.u-border-tertiary {
	border-color: colors(default, tertiary);
}

.u-border-quaternary {
	border-color: colors(default, quaternary);
}
