.u-btn {
	$btn: &;

	position: relative;
	padding: rem(spacing(.6) spacing(2));
	background-color: transparent;
	border-width: rem(2px);
	border-style: solid;
	border-color: transparent;
	border-radius: rem(vars(radius, sml));
	text-align: center;
	text-decoration: none;

	@include type-btn;

	@include mq-hover {
		@include transition-property(color, background-color, border, opacity);
		@include transition-duration(vars(transition, xfast));
		@include transition-timing(ease-in-out);

		cursor: pointer;
	}

	&.is-inline {
		display: inline-block;
	}

	&.is-block {
		display: block;
		width: 100%;
		height: 100%;
	}

	&[disabled] {
		opacity: .4;

		@include interaction(disable);
	}

	&.is-primary {
		background-color: #ff69b4;
		color: #fff;

		&:focus {
			background-color: #00ffc3;
			color: #000;
		}

		@include mq-hover {
			&:hover {
				background-color: #00ffc3;
				color: #000;
			}
		}
	}

	&.is-secondary {
		background-color: #00ffc3;
		color: #000;

		&:focus {
			background-color: #ff69b4;
			color: #fff;
		}

		@include mq-hover {
			&:hover {
				background-color: #ff69b4;
				color: #fff;
			}
		}
	}
}
