.u-btn {
	$btn: &;

	position: relative;
	padding: rem(spacing(.6) spacing(2));
	background-color: transparent;
	border-width: rem(2px);
	border-style: solid;
	border-color: transparent;
	border-radius: rem(vars(radius, sml));
	text-align: center;
	text-decoration: none;

	@extend %type-btn;

	&__inside {
		position: relative;
		z-index: 1;

		@include interaction(disable);
	}

	@include mq-hover {
		@include transition('color, background-color, border, opacity');

		cursor: pointer;
	}

	&.is-inline {
		display: inline-block;
	}

	&.is-block {
		display: block;
		width: 100%;
		height: 100%;
	}

	&[disabled] {
		opacity: .4;

		@include interaction(disable);
	}

	&.is-light {
		background-color: colors(default, light);
		border-color: colors(default, dark);
		color: colors(default, dark);

		@include mq-hover {
			&:focus,
			&:hover {
				background-color: colors(default, dark);
				color: colors(default, light);
			}
		}
	}

	&.is-dark {
		background-color: colors(default, dark);
		color: colors(default, light);

		@include mq-hover {
			&:focus,
			&:hover {
				background-color: colors(default, light);
				border-color: colors(default, dark);
				color: colors(default, dark);
			}
		}
	}

	&.is-primary {
		background-color: colors(default, primary);
		border-color: colors(default, dark);
		color: colors(default, light);

		@include mq-hover {
			&:focus,
			&:hover {
				background-color: colors(default, secondary);
			}
		}
	}

	&.is-secondary {
		background-color: colors(default, secondary);
		border-color: colors(default, dark);
		color: colors(default, light);

		@include mq-hover {
			&:focus,
			&:hover {
				background-color: colors(default, primary);
			}
		}
	}
}
