.u-light {
	color: colors(default, light);
}

.u-dark {
	color: colors(default, dark);
}

.u-primary {
	color: colors(default, primary);
}

.u-secondary {
	color: colors(default, secondary);
}

.u-tertiary {
	color: colors(default, tertiary);
}

.u-quaternary {
	color: colors(default, quaternary);
}
