.u-dark {
	color: $dark;
}

.u-light {
	color: $light;
}

.u-primary {
	color: colors(default, primary);
}

.u-secondary {
	color: colors(default, secondary);
}

.u-tertiary {
	color: colors(default, tertiary);
}

.u-quaternary {
	color: colors(default, quaternary);
}
