@import '../reset/form';
@import 'elem/date';
@import 'elem/datetime-local';
@import 'elem/email';
@import 'elem/file';
@import 'elem/label';
@import 'elem/month';
@import 'elem/number';
@import 'elem/password';
@import 'elem/search';
@import 'elem/select';
@import 'elem/tel';
@import 'elem/text';
@import 'elem/textarea';
@import 'elem/url';
@import 'elem/week';

.u-form {
	$form: &;

	> *:first-child {
		margin-top: 0;
	}

	label[for] {
		@include mq-hover {
			cursor: pointer;
		}
	}

	&__field {
		margin-top: rem(spacing(1));

		input {
			margin-top: rem(spacing(.5));
		}

		&:first-of-type {
			margin-top: 0;

			input {
				margin-top: 0;
			}
		}
	}

	&__validation {
		display: block;
		padding: rem(spacing(.5) 0 0 0);

		@extend %type-small;
	}

	&__options {
		margin-top: rem(spacing(1));

		label {
			position: relative;

			@include mq(vars(breakpoint, lrg), max-width) {
				padding-right: rem(spacing(1.5));
			}

			@include mq(vars(breakpoint, lrg)) {
				padding-right: rem(spacing(1));
			}

			@include mq-hover {
				cursor: pointer;
			}
		}

		input {
			position: absolute;
			top: 50%;
			right: 0;
			transform: translateY(-50%) scale(1.1);

			@include transition(all);

			&:focus {
				transform: translateY(-50%) scale(1.3);
			}
		}
	}
}
