.u-logo {
	@include object-fit(contain);

	&.is-primary {
		width: rem(300px);
		height: rem(100px);
	}

	&.is-secondary {
		width: rem(100px);
		height: rem(50px);
	}

	&.is-tertiary {
		width: rem(200px);
		height: rem(100px);
	}
}
