.u-spacing-t-1 {
	padding-top: spacing(4);
}

.u-spacing-t-2 {
	padding-top: spacing(8);
}

.u-spacing-t-3 {
	padding-top: spacing(12);
}

.u-spacing-t-4 {
	padding-top: spacing(16);
}

.u-spacing-b-1 {
	padding-bottom: spacing(4);
}

.u-spacing-b-2 {
	padding-bottom: spacing(8);
}

.u-spacing-b-3 {
	padding-bottom: spacing(12);
}

.u-spacing-b-4 {
	padding-bottom: spacing(16);
}

@for $i from 1 through 5 {
	$breakpoint: vars(breakpoint, xxlrg);
	$selecter: 'xxlrg';

	@if $i == 1 {
		$breakpoint: vars(breakpoint, sml);
		$selecter: 'sml';
	} @else if $i == 2 {
		$breakpoint: vars(breakpoint, med);
		$selecter: 'med';
	} @else if $i == 3 {
		$breakpoint: vars(breakpoint, lrg);
		$selecter: 'lrg';
	} @else if $i == 4 {
		$breakpoint: vars(breakpoint, xlrg);
		$selecter: 'xlrg';
	}

	@include mq($breakpoint) {
		.u-spacing-#{$selecter}-t-1 {
			padding-top: spacing(4);
		}

		.u-spacing-#{$selecter}-t-2 {
			padding-top: spacing(8);
		}

		.u-spacing-#{$selecter}-t-3 {
			padding-top: spacing(12);
		}

		.u-spacing-#{$selecter}-t-4 {
			padding-top: spacing(16);
		}

		.u-spacing-#{$selecter}-b-1 {
			padding-bottom: spacing(4);
		}

		.u-spacing-#{$selecter}-b-2 {
			padding-bottom: spacing(8);
		}

		.u-spacing-#{$selecter}-b-3 {
			padding-bottom: spacing(12);
		}

		.u-spacing-#{$selecter}-b-4 {
			padding-bottom: spacing(16);
		}
	}
}
