@import '@styles/settings';

.media {
	@include mq(vars(breakpoint, sml), max-width) {
		margin-top: -#{spacing(4)};
	}

	@include mq(vars(breakpoint, sml)) {
		margin-top: -#{spacing(8)};
	}

	:global([data-module=Video]),
	:global([data-module=Figure]) {
		@include mq(vars(breakpoint, sml), max-width) {
			margin-top: spacing(4);
		}

		@include mq(vars(breakpoint, sml)) {
			margin-top: spacing(8);
		}
	}
}
