@function colors($name, $variant) {
	@if $variant {
		@return map-get(map-get($colors, $name), $variant);
	} @else {
		@return map-get($colors, $name);
	}
}

$dark: #000;
$light: #fff;
$hotpink: #ff69b4;
$lavender: #7669ff;
$lime: #69ffb4;
$purple: #7d11f9;
$colors: (
	default: (
		dark: $dark,
		light: $light,
		primary: $hotpink,
		secondary: $lavender,
		tertiary: $lime,
		quaternary: $purple
	),
	skeleton: (
		to: $dark,
		from: $light
	)
);

%color-heading {
	&:not([data-module=Button]) {
		color: colors(default, dark);
	}

	.u-bg-dark &:not([data-module=Button]) {
		color: colors(default, light);
	}
}

%color-body {
	&:not([data-module=Button]) {
		color: colors(default, dark);
	}

	.u-bg-dark &:not([data-module=Button]) {
		color: colors(default, light);
	}
}
