%f-body {
	font-family: Body, serif;
}

%f-heading {
	font-family: Heading, serif;
}

%f-body-light {
	font-weight: 300;
}

%f-heading-light {
	font-weight: 300;
}

%f-body-regular {
	font-weight: 400;
}

%f-heading-regular {
	font-weight: 400;
}

%f-body-medium {
	font-weight: 500;
}

%f-heading-medium {
	font-weight: 500;
}

%f-body-bold {
	font-weight: 700;
}

%f-heading-bold {
	font-weight: 600;
}

%f-italic {
	font-style: italic;
}

%f-uppercase {
	text-transform: uppercase;
}

%f-capitalize {
	text-transform: capitalize;
}

%f-lowercase {
	text-transform: lowercase;
}

%type-h1 {
	font-size: rem(vars(type, xxxxlrg));
	line-height: 1.2;

	@extend %f-heading;
}

%type-h2 {
	font-size: rem(vars(type, xxxxlrg));
	line-height: 1.2;

	@extend %f-heading;
}

%type-h3 {
	font-size: rem(vars(type, xxxlrg));
	line-height: 1.2;

	@extend %f-heading;
}

%type-h4 {
	font-size: rem(vars(type, xxlrg));
	line-height: 1.2;

	@extend %f-heading;
}

%type-h5 {
	font-size: rem(vars(type, xlrg));
	line-height: 1.3;

	@extend %f-heading;
}

%type-h6 {
	font-size: rem(vars(type, lrg));
	line-height: 1.3;

	@extend %f-heading;
}

%type-small {
	font-size: rem(vars(type, sml));
}

%type-paragraph {
	font-size: rem(vars(type, med));
}

%type-btn {
	font-size: rem(vars(type, sml));

	@extend %f-heading;
}

%type-label {
	font-size: rem(vars(type, med));
}

%type-icon {
	font-size: rem(vars(type, lrg));
}
