%f-body {
	font-family: Body, serif;
}

%f-light {
	font-weight: 300;
}

%f-regular {
	font-weight: 400;
}

%f-medium {
	font-weight: 500;
}

%f-bold {
	font-weight: 700;
}

%f-italic {
	font-style: italic;
}

%f-uppercase {
	text-transform: uppercase;
}

%f-capitalize {
	text-transform: capitalize;
}

%f-lowercase {
	text-transform: lowercase;
}

%type-h1 {
	font-size: rem(vars(type, h1));
	line-height: 1;

	@extend %f-bold;
}

%type-h2 {
	font-size: rem(vars(type, h2));
	line-height: 1.1;

	@extend %f-bold;
}

%type-h3 {
	font-size: rem(vars(type, h3));
	line-height: 1.1;

	@extend %f-medium;
}

%type-h4 {
	font-size: rem(vars(type, h4));
	line-height: 1.1;

	@extend %f-medium;
}

%type-h5 {
	font-size: rem(vars(type, h5));
	line-height: 1.1;

	@extend %f-light;
}

%type-h6 {
	font-size: rem(vars(type, h6));
	line-height: 1.2;

	@extend %f-light;
}

%type-body {
	font-size: rem(vars(type, body));

	@extend %f-regular;
}

%type-label {
	font-size: rem(vars(type, body));

	@extend %f-bold;
}

%type-btn {
	font-size: rem(vars(type, body));

	@extend %f-medium;
}
