@function vars($name, $variant) {
	@if $variant {
		@return map-get(map-get($vars, $name), $variant);
	} @else {
		@return map-get($vars, $name);
	}
}

$vars: (
	type: (
		xxxxxlrg: 52px,
		xxxxlrg: 40px,
		xxxlrg: 32px,
		xxlrg: 28px,
		xlrg: 24px,
		lrg: 20px,
		med: 16px,
		sml: 14px
	),
	layout: (
		max-width: 1024px,
		gutter: 20px,
		browser-context: 16px,
		spacing: 16px
	),
	breakpoint: (
		zero: 0,
		sml: 480px,
		med: 768px,
		lrg: 1024px,
		xlrg: 1280px,
		xxlrg: 1520px
	),
	radius: (
		sml: 2px,
		med: 4px,
		lrg: 6px,
		xlrg: 8px,
		round: 50%
	),
	vh: (
		fullscreen: 100vh,
		half: 50vh,
		one-third: 33.3333vh,
		two-third: 66.6666vh
	),
	transition: (
		xxxslow: 800ms,
		xxslow: 700ms,
		xslow: 600ms,
		slow: 500ms,
		med: 400ms,
		fast: 300ms,
		xfast: 200ms,
		xxfast: 100ms
	)
);
