@function vars($name, $variant) {
	@if $variant {
		@return map-get(map-get($vars, $name), $variant);
	} @else {
		@return map-get($vars, $name);
	}
}

$vars: (
	type: (
		h1: 60px,
		h2: 55px,
		h3: 50px,
		h4: 45px,
		h5: 35px,
		h6: 30px,
		body: 16px
	),
	layout: (
		max-width: 1440px,
		browser-context: 16px,
		spacing: 4px
	),
	breakpoint: (
		sml: 480px,
		med: 768px,
		lrg: 1024px,
		xlrg: 1280px,
		xxlrg: 1440px
	),
	radius: (
		sml: 2px,
		med: 4px,
		lrg: 6px,
		xlrg: 8px,
		round: 50%
	),
	vh: (
		fullscreen: 100vh,
		half: 50vh,
		one-third: 33.3333vh,
		two-third: 66.6666vh
	),
	transition: (
		xxxslow: 800ms,
		xxslow: 700ms,
		xslow: 600ms,
		slow: 500ms,
		med: 400ms,
		fast: 300ms,
		xfast: 200ms,
		xxfast: 100ms
	),
	transition-duration: (
		slow: 500ms,
		med: 400ms,
		fast: 300ms,
		xfast: 200ms,
		xxfast: 100ms
	),
	transition-timing: (
		slow: cubic-bezier(0, 0, .25, 1),
		med: cubic-bezier(.25, .3, .25, 1),
		fast: cubic-bezier(.25, .3, .25, 1),
		ease: ease,
		ease-in: ease-in,
		ease-in-out: ease-in-out
	),
	z-index: (
		hidden: -1,
		zero: 0,
		sml: 1,
		med: 2,
		lrg: 3,
		xlrg: 4,
		xxlrg: 5,
		xxxlrg: 6
	)
);
