.u-content blockquote,
.u-blockquote {
	position: relative;
	padding-left: spacing(8);

	> *:first-child {
		margin-top: 0;
		padding-top: 0;
	}

	&::before {
		content: '';
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: spacing(4);
		background-color: colors(default, dark);
	}
}
