[data-module=Content] hr,
.u-hr {
	width: 100%;
	height: spacing(.5);
	background-color: colors(default, dark);

	.u-bg-dark &,
	.u-bg-primary &,
	.u-bg-secondary & {
		background-color: colors(default, light);
	}
}
