@use 'sass:math';

@function fluid-type-calc($val, $breakpoint) {
	$vw-context: $breakpoint * .01 * 1;

	@return #{math.div($val, $vw-context) * 1}vw;
}

@mixin fluid-type($sml, $med, $lrg, $browser-context, $type-smallest) {
	font-size: 100%;

	@include mq-between($sml, $med) {
		font-size: fluid-type-calc($browser-context, $sml);
	}

	@include mq-between($med, $lrg) {
		font-size: fluid-type-calc($type-smallest, $med);
	}
}

// usage
// @include fluid-type(320px, 768px, 1024px, 16px, 12px);
