@mixin scrollbar($size: 2.5, $foreground-color: colors(default, light), $background-color: colors(default, dark)) {
	scrollbar-color: $foreground-color $background-color;

	&::-webkit-scrollbar {
		width: spacing($size);
		height: spacing($size);
	}

	&::-webkit-scrollbar-thumb {
		background: $foreground-color;
	}

	&::-webkit-scrollbar-track {
		background: $background-color;
	}
}
